*.iml
.idea/
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/anki-api/build
/captures
.externalNativeBuild
app/release/
app/src/debug/
app/src/release
